@use './defines' as *;

header {
    display: flex;
    height: $header-height;
    width: 100%;

    .tippy-content {
        padding: 3px;
    }

    menu-box {
        flex-grow: 1;
    }

    menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-btn {
        background-color: #555555;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition-duration: 0.4s;
        cursor: pointer;

        &:hover {
            background-color: #777777;
        }
    }

    .titlebar-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 100%;
        user-select: none;
        -webkit-user-select: none;
    }

    .titlebar-button:hover {
        background: #00000077;
    }
}