@use './defines' as *;
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale-extreme.css';

@import './header.scss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $bg-color;
}

main {
  height: calc(100% - $header-height - $footer-height);
  width: 100%;
}

footer {
  display: flex;
  height: $footer-height;
  width: 100%;
  justify-content: space-between;
}

cursor-position {
  color: #ffffff;
  height: 100%;
}
