$bg-color: #222222;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: $bg-color;
}

$footer-height: 22px;
$header-height: 22px;

main {
    height: calc(100% - $header-height - $footer-height);
    width: 100%;
}

header {
    display: flex;
    height: $header-height;
    width: 100%;
}

footer {
    height: $footer-height;
    width: 100%;
}

cursor-position {
    height: 100%;
}

.file-btn {
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover {
        background-color: #777777;
    }
}